.movie-banner {
    position: relative;
    width: 100%;
    min-height: 91vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgb(155, 146, 146) 30%, rgb(35, 35, 44) 100%);
}
.all-comments {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgb(155, 146, 146) 30%, rgb(35, 35, 44) 100%);
    padding-left: 120px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.show-comment {
    color: black;
    padding-top: 50px;
}
.movie-poster {
    position: relative;
    width: 400px;
    height: auto;
    margin-left: 120px;
}
.movie-text {
    margin-top: 20px;
    color: white;
    font-size: 18px;
    margin-left: 100px;
    height: 100%;
    position: relative;
    bottom: 0;
    margin-right: 120px;
    text-align: justify;
}
.movie-heading {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 7px;
    line-height: 100%;
    margin-left: 100px;
    text-align: justify;
    color: black;
    margin-right: 120px;
    font-family: Georgia;
}

